
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#divContainer {
    margin-top: 30px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

#divSettingsRoomLevel {
    float: left; 
}


/***** Single wizard settings *****/
#matTabGroupWizardSettings {
    clear: both; 
}
.divSingleWizardSettings {
    width: 100%;
    padding: 10px;
    float: left;
}


/***** Skill tree ****/
.divSkillTree {
    height: 600px;
    width: 100%;
    overflow-y: scroll; 
    margin-top: 10px;
    position: relative; /* relative to parent container */
}
.divSkillTreeNode {
    position: absolute; 
    text-align: center; 
}
.textSkillTreeNode {
    font: 500 20px/26px Roboto,"Helvetica Neue",sans-serif;
}
.textSkillTreeNodeName {
    font: 500 10px/26px Roboto,"Helvetica Neue",sans-serif;
}


.divContainerSkillTreeButtons {
    margin-top: 5px; 
}
.buttonSkillTreeControl {
    margin: 3px !important; 
}

/***** Potions *****/
.divSettingsPotions {
    margin-top: 10px; 
    max-width: 370px; 
    float: left;
    clear: both; 
}
.inputPotion {
    width: 110px;
    margin: 5px; 
    float: left
}
.divSettingsRunestoneLevel {
    float: left; 
    clear: both; 
}

#buttonRemoveWizard {
    margin-top: 20px;
    float: left; 
    clear: both; 
}

/**** Start simulation *****/
#divStartSimulationContainer {
    position: fixed; 
    bottom: 10px; 
    display: block; 
    width: 410px;
    z-index: 1000; 
    left: 50%;
    margin-left: -70px; 
}
.buttonStartSimulation {
    height: 45px; 
    width: 200px; 
    font-size: 12px;
    margin: 3px !important; 
}


/**** Advanced settings ***/
.inputAdvancedSetting {
    width: 100%;
}



/**** Simulation outputs ****/
.matPanelSimulationResults {
    margin-bottom: 20px !important; 
}

#inputSimulationLog {
    height: 800px; 
    color: black; 
}

table {
    text-align: center !important;
    width: 100%
}
  
.mat-header-cell {
    text-align: center !important;
}





/*** Generic stuff ****/
.myMatTooltip {
    white-space: pre-line;
}



