
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#divContainer {
    margin-top: 30px; 
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

#divSettingsRoomLevel {
    float: left; 
}


/***** Single wizard settings *****/
#matTabGroupWizardSettings {
    clear: both; 
}
#divSkillTreeSettingsWrapper {
    overflow-x: hidden; 
}
.divSingleWizardSettingsWrapper {
    width: 99%;
    padding: 2px;
    float: left;
}
.divSingleWizardSettings {
    width: 99%; 
}

.inputRoomLevel {
    width: 200px;
}


/***** Skill tree ****/
.divSkillTree {
    /*height: 600px; not needed since it is computed */
    width: 98%; /* leave space for scroll bar */
    /* overflow-y: scroll;  not needed since height of svg is computed */
    margin-top: 10px;
    position: relative; /* relative to parent container */
}
.divSkillTreeNode {
    position: absolute; 
    text-align: center; 
}
.textSkillTreeNode {
    font: 500 20px/26px Roboto,"Helvetica Neue",sans-serif;
}
.textSkillTreeNodeName {
    font: 500 10px/26px Roboto,"Helvetica Neue",sans-serif;
}


.divContainerSkillTreeButtons {
    margin-top: 0px; 
}



@media only screen and (min-width: 769px) {
    .buttonSkillTreeControl {
        margin: 3px !important; 
    }
}
@media only screen and (max-width: 768px) {
    .buttonSkillTreeControl {
        margin-bottom: 3px !important; 
        width: 100%
    }
}



/***** Potions *****/
.divSettingsPotions {
    margin-top: 10px; 
    max-width: 370px; 
    float: left;
    clear: both; 
}
.inputPotion {
    width: 110px;
    margin: 5px; 
    float: left
}
.divSettingsRunestoneLevel {
    float: left; 
    clear: both; 
}

/******** Player rules editor ********/
.divSettingsPlayerRules {
    float: left; 
    clear: both; 
    width: 100%
}

tr.expandedRule-row {
    height: 0 !important; 
}
  
tr.rule-row-static:hover {
    background: #777;
}
  
tr.rule-row:not(.expandedRule-row):active {
    background: #efefef;
}
  
.rule-row td {
    border-bottom-width: 0;
}
  
.rule-detail { /* div that is expanded and collapsed by animation */
    overflow: hidden;
    display: flex;
}
.rule-detail-inner-container { /* div that contains actual elements */
    display: block; /* this overrides rule-detail flex */
    padding: 10px; 
    width: 100%; 
    text-align: left; 
}
.inputRulePriority { /* number */
    width: 30%;
    float: left; 
}
.divRuleConditionGroupContainer { /* Container for nested inputs below */
    border: 1px solid black; 
    padding: 5px; 
}
.inputRuleAction { /* Strong invigoration potion */
    width: 65%; 
    float: left; 
}
.inputRuleConditionElement { /* All of the below inputs*/
    margin-right: 5px; 
    float: left;
}
.inputRuleFactObject { /* Wizard, highest prio enemy */
    width: 15%; 
    clear: both; 
}
.inputRuleFactPath { /* .stats.power */
    width: 30%;
}
.inputRuleOperator { /* >, >=, <= */
    width: 10%; 
}
.inputRulePrimitiveValue { /* null, false, 3, ...*/
    width: 20%; 
}
.inputRuleValueFactObject { /* Wizard, highest prio enemy but for value types that are object (and not primitive) */
    width: 15%; 
    /* clear: both; 
    margin-left: 15%; */ 
}
.checkboxConditionValuePrimitive {
    float: left; 
}
.buttonAddRuleCondition {
    float: left; 
    clear: both; 
}
.buttonRemoveRule {
    float: right; 
    clear: both; 
}


#buttonRemoveWizard {
    margin-top: 20px;
    float: left; 
    clear: both; 
}

/**** Start simulation *****/
/* Fixed static position at bottom of screen
#divStartSimulationContainer {
    position: fixed; 
    bottom: 10px; 
    display: block; 
    width: 100%;
    z-index: 1000; 
    left: 50%;
    margin-left: -308px; 
}
.buttonStartSimulation {
    height: 45px; 
    width: 200px; 
    font-size: 12px;
    margin: 3px !important; 
    float: left; 
}
/* Button for skill tree upgrades needs more space 
https://stackoverflow.com/questions/53497127/how-to-break-word-if-text-inside-angular-material-button-is-longer-than-the-widt 
.buttonStartSimulation {
    white-space: pre-wrap !important;
    line-height: 15px !important; 
}*/

.buttonStartSimulation {
    width: 100% !important; 
    white-space: pre-wrap !important;
    line-height: 15px !important; 
    padding: 10px !important; 
}


/**** Advanced settings ***/
.inputAdvancedSetting {
    width: 100%;
}
.divContainerAdvancedSettingsSection {
    margin-top: 10px; 
}


/**** Running simulation (manual inputs) ****/
#divSelectActionContainer {
    margin-top: 10px; 
    margin-bottom: 10px; 
}
.divSimulationSingleResultEnemy {
}
.selectedEnemy > div {
    border: 1px solid black !important; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.selectedWizard {
    border: 1px solid black !important; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/**** Simulation outputs ****/
.matPanelSimulationResultsClass {
    margin-bottom: 20px !important; 
}

/**** Single simulation results ****/
.divSimulationSingleResultCombatant { /** Each div is one enemy portrait + difficulty and level **/
    float: left; 
    padding: 10px; 
    border: 1px solid white; /* So that selectedEnemy > div does not change size of div */
}
.divSimulationSingleResultEnemy {
    /*width: 150px; */
    text-align: center; 
}
.divEnemyPortraitContainer { /** Each div is one enemy portrait **/
    width: 50px; 
    height: 50px; 
    margin: auto; 
}
.divEnemyPortraitContainer > img { 
    width: 100%; 
    height: 100%; 
}
.divEnemyPortraitUpperContainer {  /* Border of upper part, everything except debuffs */
    border-radius: 15px; 
    padding: 5px; 
}
.divEnemyNormalBorder {
    border: 4px solid rgb(216, 203, 181)
}
.divEnemyEliteBorder {
    border: 4px solid rgb(175, 99, 19)
}


.spanEnemyDifficultyStar {
    font-size: 15px; 
}
.divSimulationSingleResultWizard {
    /*width: 300px; */
    width: 100%
}

.divSimulationSingleResultCombatantBuff { /** Each div contains one picture of the hex or the buff **/
    height: 25px; 
    width: 25px; 
    /* border: 1px solid black; */
    float: left; 
    position: relative; /* So potion text can be positioned over */
}
.divSimulationSingleResultCombatantBuff > img {
    width: 100%;
    height: 100%; 
}
.spanPotionUsesRemaining {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    color: white;
    text-align: center; 
    line-height: 25px; 
}

.divWizardPortraitUpperContainer { /* Portrait without buffs of each player*/
    border-radius: 15px; 
    padding: 5px; 
    border: 4px solid rgb(216, 203, 181); 
    text-align: center; 
}


.divSimulationSingleResultAllWizards { /** Stats of wizards **/
    clear: both; 
}


/*****  Simulation log *****/
#divContainerSimulationLog {
    margin-top: 20px; 
    float: left; 
    clear: both; 
    width: 100%; 
}
#inputSimulationLog {
    margin-top: 20px; 
    height: 800px; 
    color: black; 
}


/***** Multiple simulation results ******/ 
#divContainerMultipleSimulationsTable {
    overflow-x: auto; 
    width: 100%; 
}
#tableMultipleResultsGrouped {
    width: 100%; 
    min-width: 1000px; 
}
/*.mat-table-sticky:first-child {*/
.cellBorderRight {
    border-right: 1px solid rgba(0,0,0,.12); 
} 

#tableMultipleResultsGrouped .mat-cell {
    padding-left: 7px !important; 
    padding-right: 7px !important; 
}
#tableMultipleResultsGrouped th {
    padding-left: 7px !important; 
    padding-right: 7px !important; 
}


table {
    text-align: center !important;
    width: 100%;
}
  
.mat-header-cell {
    text-align: center !important;
}




/*** Generic stuff ****/
.myMatTooltip {
    white-space: pre-line;
}
.floatLeft {
    float: left; 
}
.floatRight {
    float: right; 
}
.clearBoth {
    clear: both; 
}
.marginTop5px {
    margin-top: 5px !important; 
}
.marginRight5px {
    margin-right: 5px !important;
}
.padding5px {
    padding: 5px; 
}
.width45Percent {
    width: 45%; 
}
.width48Percent {
    width: 48%; 
}
.spanMultipleLines {
    white-space: pre-wrap;
}
