



<div id="divContainer">
    <h1 class="mat-h1">
        Harry Potter - Wizards Unite Fortress Simulator 
        <a target="_blank" href="https://github.com/Zhadok/HP_WU_FortressSim">(source)</a>
    </h1>

    
    <div id="divStartSimulationContainer">
            <button (click)="onClickButtonStartSingleSimulation()" class="buttonStartSimulation" mat-raised-button large color="primary" >
                Start single simulation
            </button>
            <button (click)="onClickButtonStartMultipleSimulations()" class="buttonStartSimulation" mat-raised-button large color="primary" >
                Simulate different room levels
            </button>
        </div>

    <mat-accordion [multi]="true">
        <!--<h2 class="mat-h2">Input parameters</h2> -->
        <mat-expansion-panel #matPanelInputParameters [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Input parameters
                    </mat-panel-title>
                    <mat-panel-description>
                        Choose between your skill tree and directly entering stats
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div id="divSettingsRoomLevel">
                    <h2 class="mat-h2">Overall parameters</h2>
                    <mat-form-field class="inputPotion">
                        <input type="number" matInput placeholder="Room level" name="roomLevel"
                                    [(ngModel)]="simParameters.roomLevel">
                    </mat-form-field>
                </div>

                <mat-tab-group id="matTabGroupWizardSettings">
                    <mat-tab label="Skill Tree"> 
                        <div id="divSkillTreeSettingsWrapper">
                            <div *ngFor="let nameClass of simParameters.nameClasses; let playerIndex=index" class="divSingleWizardSettings">
                                <h2 class="mat-h2">Settings for player {{playerIndex+1}}</h2>
                                
                                <mat-form-field>
                                    <mat-label>Class</mat-label>
                                    <mat-select placeholder="Select class..." name="selectWizardClass" 
                                                (selectionChange)="onChangeSelectWizardClass($event, playerIndex)"
                                                [(value)]="nameClass"
                                                class="inputPotion">
                                                
                                        <mat-option *ngFor="let item of allowedClasses | keyvalue" value="{{item.key}}">{{item.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
            
                                <h2 class="mat-h2">Skill tree: </h2>
                                <div class="divSkillTree">
                                    <!-- https://teropa.info/blog/2016/12/12/graphics-in-angular-2.html -->
                                    <svg width="100%" [attr.height]="skillTreeVis.marginTop + skillTreeVis.rowHeight*20" [attr.viewBox]="[0,0,
                                        skillTreeVis.marginLeft + skillTreeVis.columnWidth*5,
                                        skillTreeVis.marginTop + skillTreeVis.rowHeight*20]">
                                        <g *ngFor="let node of skillTrees[playerIndex].nodesStudied | keyvalue">
                                            <line *ngFor="let dependency of getDependenciesFromSkillTreeNode(node.key.dependencies)"
                                                [attr.x1]="dependency.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2" 
                                                [attr.y1]="dependency.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2" 
                                                [attr.x2]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2" 
                                                [attr.y2]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2" 
                                                stroke="black"
                                            />
                                        </g>
            
                                        <g *ngFor="let node of skillTrees[playerIndex].nodesStudied | keyvalue">
                                            <text [attr.x]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2" 
                                                [attr.y]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2 - skillTreeVis.nodeCircleRadius/2 - 20" 
                                                text-anchor="middle"
                                                class="textSkillTreeNodeName">{{node.key.name}}</text>
                                            <circle [attr.cx]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2"
                                                    [attr.cy]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2"
                                                    [attr.r]="skillTreeVis.nodeCircleRadius" stroke="black" fill="gray" 
                                                    (click)="onClickSkillTreeNode(node.key, playerIndex)"
                                                    matTooltip="{{getSkillTreeNodeTooltip(node.key)}}"
                                                    [matTooltipClass]="'myMatTooltip'"
                                                    ></circle>
                                            <text [attr.x]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2" 
                                                  [attr.y]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2 + 6" 
                                                  class="textSkillTreeNode" text-anchor="middle"
                                                  (click)="onClickSkillTreeNode(node.key, playerIndex)"
                                                  matTooltip="{{getSkillTreeNodeTooltip(node.key)}}"
                                                  [matTooltipClass]="'myMatTooltip'"
                                                  >{{node.value}}/{{node.key.levels.length}}</text>
                                        </g>
                                    </svg>
                                </div>
                                <div class="divContainerSkillTreeButtons">
                                    <button class="buttonSkillTreeControl" mat-raised-button color="accent" (click)="onClickButtonLearnAllLessonsScrolls(playerIndex)">Learn all lessons (scrolls only)</button>
                                    <button class="buttonSkillTreeControl" mat-raised-button color="accent" (click)="onClickButtonLearnAllLessons(playerIndex)">Learn all lessons</button>
                                    <button class="buttonSkillTreeControl" mat-raised-button color="accent" (click)="onClickButtonResetSkillTree(playerIndex)">Reset skill tree</button>
                                    <p>Costs: {{ skillTrees[playerIndex].getCostsString() }}</p>
                                </div>
                                
                                <div class="divSettingsOutputWizardStats">
                                    <h2 class="mat-h2">Resulting stats:</h2>
                                    <div *ngFor="let stat of skillTrees[playerIndex].toWizardStats() | keyvalue">
                                        <span *ngIf="isValidStatForClass(stat.key, playerIndex)">
                                            {{formatUserFriendlyStat(stat.key)}}: {{stat.value.toFixed(2)}}
                                        </span>   
                                    </div>
            
                                    <p>Triggers (conditional stat changes):</p>
                                    <div>
                                        <ul>
                                            <li *ngFor="let skillTreeNode of skillTrees[playerIndex].toStudiedTriggers()">
                                                <b>{{skillTreeNode.name}}</b>: {{skillTreeNode.statChangeDescription}} (+{{skillTreeNode.levels[0].statChange.toFixed(2)}})
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
            
                                <div class="divSettingsPotions">
                                    <p>Potions: </p>
                                    <form class="potionsForm">
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Regular exstimulo" name="exstimulo"
                                                   [(ngModel)]="simParameters.potions[playerIndex].nExstimuloAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Strong exstimulo" name="strongExstimulo"
                                                   [(ngModel)]="simParameters.potions[playerIndex].nStrongExstimuloAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Potent exstimulo" name="potentExstimulo"
                                                    [(ngModel)]="simParameters.potions[playerIndex].nPotentExstimuloAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Wit Sharpening" name="witSharpening"
                                                    [(ngModel)]="simParameters.potions[playerIndex].nWitSharpeningAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Weak Invigoration" name="weakInvigoration"
                                                    [(ngModel)]="simParameters.potions[playerIndex].nWeakInvigorationAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Strong Invigoration" name="strongInvigoration"
                                                    [(ngModel)]="simParameters.potions[playerIndex].nStrongInvigorationAvailable">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <br>
                                <div class="divSettingsRunestoneLevel">
                                    <p>Runestone level:</p>
                                    <mat-form-field class="inputPotion">
                                        <input type="number" matInput placeholder="Runestone level" name="runestoneLevel"
                                                    [(ngModel)]="simParameters.runestoneLevels[playerIndex]">
                                    </mat-form-field>
                                </div>
            
                                <br>
                                <button id="buttonRemoveWizard" mat-raised-button (click)="onClickRemoveWizard(playerIndex)">Remove</button>
                            </div>
                            <div *ngIf="simParameters.nameClasses.length<5" class="divSingleWizardSettings">
                                <button id="buttonAddWizard"  mat-raised-button (click)="onClickAddWizard($event)" matTooltip="Add another wizard" >Add wizard</button> 
                            </div>
            
                        </div>
                    </mat-tab>
                    <mat-tab [disabled]="true" label="Direct stats"> 
            
                    </mat-tab>
                </mat-tab-group>
        </mat-expansion-panel>

        <mat-expansion-panel #matPanelAdvancedSimulationSettings [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Advanced simulation settings
                </mat-panel-title>
                <mat-panel-description>
                    Enter seed, number of simulations, ...
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field class="inputAdvancedSetting">
                <mat-label>Seed: This will ensure reproducible results. For multiple simulations, the seed will increased by 1 for each simulation. </mat-label>
                <input matInput type="number" placeholder="Seed" [(ngModel)]="simParameters.seed" [(value)]="simParameters.seed">
            </mat-form-field>
            <br>
            <mat-form-field class="inputAdvancedSetting">
                <mat-label>Number of simulations: For example, when comparing room level, will run each room level this many times (with different seeds). </mat-label>
                <input matInput type="number" placeholder="Number of simulations" [(ngModel)]="simAdvancedSettings.numberSimulations">
            </mat-form-field>
            <mat-form-field class="inputAdvancedSetting">
                <mat-label>Seconds between simulations: This field is only used for calculating challenge XP rewards per hour. </mat-label>
                <input matInput type="number" placeholder="Seconds between simulations" [(ngModel)]="simAdvancedSettings.secondsBetweenSimulations">
            </mat-form-field>
            <mat-checkbox [(ngModel)]="simAdvancedSettings.runParallel" [disabled]="true">Run parallel</mat-checkbox>
        
        </mat-expansion-panel>

        <mat-expansion-panel #matPanelSimulationResults class="matPanelSimulationResults">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Simulation results
                </mat-panel-title>
                <mat-panel-description>
                    Results of your simulation appear here
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div #divContainerSingleSimulation *ngIf="simAdvancedSettings.simGoal ==='single' && simulationSingleResults !== null">
                <div #divContainerSingleSimulationLog>
                    <h2 class="mat-h2">Overall simulation results: </h2>
                    Real world time passed: {{(simulationSingleResults.durationWallTimeMS / 1000).toFixed(3)}}s <br>
                    Simulation time: {{simulationSingleResults.durationGameTimeMS / 1000}}s <br>
                    Number of events: {{simulationSingleResults.nEvents}} <br>
                    Challenge won: {{simulationSingleResults.isWin ? 'Yes' : 'No'}}
                    <div *ngFor="let wizardResult of simulationSingleResults.wizardResults">
                        <h2 class="mat-h2">Player {{wizardResult.playerIndex+1}}: </h2>
                        {{wizardResult.numberOfCasts}} casts,
                        {{wizardResult.numberOfCriticalCasts}} critical casts,
                        {{wizardResult.numberOfDodgedCasts}} dodged casts, 
                        {{wizardResult.averageDamage.toFixed(2)}} average damage,
                        {{wizardResult.totalDamage}} total damage, 
                        {{wizardResult.challengeXPReward}} challenge XP
                    </div>

                </div>
            </div>

            
            <div #divContainerMultipleSimulations *ngIf="simAdvancedSettings.simGoal.indexOf('multiple') !== -1">
                <div *ngIf="simProgress !== null">
                    Simulation progress: {{ simProgress.nFinished }} / {{ simProgress.nTotal }}
                    <mat-progress-bar mode="determinate" [value]="simProgress.nFinished / simProgress.nTotal *100"></mat-progress-bar>
                </div>
                <div *ngIf="simProgress === null">
                    <table #tableMultipleSimulationResults mat-table matSort [dataSource]="simulationMultipleResultsGrouped" class="mat-elevation-z8">

                            <ng-container matColumnDef="roomLevel">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Room level </th>
                                    <td mat-cell *matCellDef="let row"> {{row.roomLevel}} </td>
                            </ng-container>
                            <ng-container matColumnDef="winPercentage">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Win % </th>
                                    <td mat-cell *matCellDef="let row"> {{row.winPercentage.toFixed(2)}} </td>
                            </ng-container>
                            <ng-container matColumnDef="averageNumberOfCasts">
                                    <th mat-header-cell *matHeaderCellDef> Average casts </th>
                                    <td mat-cell *matCellDef="let row"> {{row.averageNumberOfCasts.toFixed(2)}} </td>
                            </ng-container>
                            <ng-container matColumnDef="averageDamage">
                                    <th mat-header-cell *matHeaderCellDef> Average damage (per cast) </th>
                                    <td mat-cell *matCellDef="let row"> {{row.averageDamage.toFixed(2)}} </td>
                            </ng-container>
                            <ng-container matColumnDef="averageNumberOfCriticalCasts">
                                    <th mat-header-cell *matHeaderCellDef> Average crits </th>
                                    <td mat-cell *matCellDef="let row"> {{row.averageNumberOfCriticalCasts.toFixed(2)}} </td>
                            </ng-container>
                            <ng-container matColumnDef="averageNumberOfDodgedCasts">
                                    <th mat-header-cell *matHeaderCellDef> Average dodged </th>
                                    <td mat-cell *matCellDef="let row"> {{row.averageNumberOfDodgedCasts.toFixed(2)}} </td>
                            </ng-container>
                            <ng-container matColumnDef="averageTotalDamage">
                                    <th mat-header-cell *matHeaderCellDef> Average total damage </th>
                                    <td mat-cell *matCellDef="let row"> {{row.averageTotalDamage.toFixed(2)}} </td>
                            </ng-container>
                            <ng-container matColumnDef="averageGameTimeMS">
                                    <th mat-header-cell *matHeaderCellDef> Average game time </th>
                                    <td mat-cell *matCellDef="let row"> {{(row.averageGameTimeMS / 1000).toFixed(3)}}s </td>
                            </ng-container>
                            <ng-container matColumnDef="averageChallengeXPReward">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rewards </th>
                                    <td mat-cell *matCellDef="let row"> {{row.averageChallengeXPReward}}XP </td>
                            </ng-container>
                            <ng-container matColumnDef="averageChallengeXPRewardPerHour">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rewards per hour </th>
                                    <td mat-cell *matCellDef="let row"> {{row.averageChallengeXPRewardPerHour.toFixed(0) }}XP/hour </td>
                            </ng-container>
                            <ng-container matColumnDef="numberOfRuns">
                                    <th mat-header-cell *matHeaderCellDef> Runs </th>
                                    <td mat-cell *matCellDef="let row"> {{row.numberOfRuns}} </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="columnNamesMultipleSimulationsResultsGrouped"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnNamesMultipleSimulationsResultsGrouped;"></tr>
                        </table>
                </div>
                
            </div>

            <br>
            <mat-form-field  class="inputAdvancedSetting">
                <textarea matInput id="inputSimulationLog" type="text" disabled="true" placeholder="Simulation log" [(value)]="simulationLog"></textarea>
            </mat-form-field> 

        </mat-expansion-panel>

    </mat-accordion>
</div>






<router-outlet></router-outlet>