



<div id="divContainer">
    <h1 class="mat-h1">Harry Potter - Wizards Unite Fortress Simulator</h1>

    
    <div id="divStartSimulationContainer">
            <button (click)="onClickButtonStartSingleSimulation()" class="buttonStartSimulation" mat-raised-button large color="primary" >
                Start single simulation
            </button>
            <button (click)="onClickButtonStartMultipleSimulations()" class="buttonStartSimulation" mat-raised-button large color="primary" >
                Start {{numberSimulations}} simulations
            </button>
        </div>

    <mat-accordion [multi]="true">
        <!--<h2 class="mat-h2">Input parameters</h2> -->
        <mat-expansion-panel #matPanelInputParameters [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Input parameters
                    </mat-panel-title>
                    <mat-panel-description>
                        Choose between your skill tree and directly entering stats
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div id="divSettingsRoomLevel">
                    <h2 class="mat-h2">Overall parameters</h2>
                    <mat-form-field class="inputPotion">
                        <input type="number" matInput placeholder="Room level" name="roomLevel"
                                    [(ngModel)]="simParameters.roomLevel">
                    </mat-form-field>
                </div>

                <mat-tab-group id="matTabGroupWizardSettings">
                    <mat-tab label="Skill Tree"> 
                        <div id="divSkillTreeSettingsWrapper">
                            <div *ngFor="let nameClass of simParameters.nameClasses; let playerIndex=index" class="divSingleWizardSettings">
                                <h2 class="mat-h2">Settings for player {{playerIndex+1}}</h2>
                                Class: 
                                <mat-select placeholder="Select class..." name="selectWizardClass" 
                                            (selectionChange)="onChangeSelectWizardClass($event, playerIndex)"
                                            [(value)]="nameClass">
                                    <mat-option *ngFor="let item of allowedClasses | keyvalue" value="{{item.key}}">{{item.value}}</mat-option>
                                </mat-select>
            
                                <p>Skill tree: </p>
                                <div class="divSkillTree">
                                    <!-- https://teropa.info/blog/2016/12/12/graphics-in-angular-2.html -->
                                    <svg width="100%" [attr.height]="skillTreeVis.marginTop + skillTreeVis.rowHeight*20" [attr.viewBox]="[0,0,
                                        skillTreeVis.marginLeft + skillTreeVis.columnWidth*5,
                                        skillTreeVis.marginTop + skillTreeVis.rowHeight*20]">
                                        <g *ngFor="let node of skillTrees[playerIndex].nodesStudied | keyvalue">
                                            <line *ngFor="let dependency of getDependenciesFromSkillTreeNode(node.key.dependencies)"
                                                [attr.x1]="dependency.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2" 
                                                [attr.y1]="dependency.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2" 
                                                [attr.x2]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2" 
                                                [attr.y2]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2" 
                                                stroke="black"
                                            />
                                        </g>
            
                                        <g *ngFor="let node of skillTrees[playerIndex].nodesStudied | keyvalue">
                                            <text [attr.x]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2" 
                                                [attr.y]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2 - skillTreeVis.nodeCircleRadius/2 - 20" 
                                                text-anchor="middle"
                                                font-size="8">{{node.key.name}}</text>
                                            <circle [attr.cx]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2"
                                                    [attr.cy]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2"
                                                    [attr.r]="skillTreeVis.nodeCircleRadius" stroke="black" fill="gray" 
                                                    (click)="onClickSkillTreeNode(node.key, playerIndex)"
                                                    matTooltip="{{getSkillTreeNodeTooltip(node.key)}}"
                                                    [matTooltipClass]="'myMatTooltip'"
                                                    ></circle>
                                            <text [attr.x]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft*2" 
                                                  [attr.y]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop*2 + 6" 
                                                  class="small" text-anchor="middle"
                                                  (click)="onClickSkillTreeNode(node.key, playerIndex)"
                                                  matTooltip="{{getSkillTreeNodeTooltip(node.key)}}"
                                                  [matTooltipClass]="'myMatTooltip'"
                                                  >{{node.value}}/{{node.key.levels.length}}</text>
                                        </g>
                                    </svg>
                                    <!--<div *ngFor="let node of skillTrees[playerIndex].nodesStudied | keyvalue" class="divSkillTreeNode"
                                         [style.left.px]="node.key.columnIndex * skillTreeVis.columnWidth + skillTreeVis.marginLeft" 
                                         [style.top.px]="node.key.rowIndex * skillTreeVis.rowHeight + skillTreeVis.marginTop">
                                         <span class="skillTreeNodeText">{{node.key.name}}</span>
                                         <br>
                                         <button mat-fab  color="primary"> 
                                            {{node.value}}/{{node.key.levels.length}}
                                        </button>
                                    </div> -->
                                </div>
            
                                <div class="divSettingsOutputWizardStats">
                                    <p>Resulting stats:</p>
                                    <div *ngFor="let stat of skillTrees[playerIndex].toWizardStats() | keyvalue">
                                        <span *ngIf="isValidStatForClass(stat.key, playerIndex)">
                                            {{formatUserFriendlyStat(stat.key)}}: {{stat.value.toFixed(2)}}
                                        </span>   
                                    </div>
            
                                    <p>Triggers (conditional stat changes):</p>
                                    <div>
                                        <ul>
                                            <li *ngFor="let skillTreeNode of skillTrees[playerIndex].toStudiedTriggers()">
                                                <b>{{skillTreeNode.name}}</b>: {{skillTreeNode.statChangeDescription}} (+{{skillTreeNode.levels[0].statChange.toFixed(2)}})
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
            
                                <div class="divSettingsPotions">
                                    <p>Potions: </p>
                                    <form class="potionsForm">
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Regular exstimulo" name="exstimulo"
                                                   [(ngModel)]="simParameters.potions[playerIndex].nExstimuloAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Strong exstimulo" name="strongExstimulo"
                                                   [(ngModel)]="simParameters.potions[playerIndex].nStrongExstimuloAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Potent exstimulo" name="potentExstimulo"
                                                    [(ngModel)]="simParameters.potions[playerIndex].nPotentExstimuloAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Wit Sharpening" name="witSharpening"
                                                    [(ngModel)]="simParameters.potions[playerIndex].nWitSharpeningAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Weak Invigoration" name="weakInvigoration"
                                                    [(ngModel)]="simParameters.potions[playerIndex].nWeakInvigorationAvailable">
                                        </mat-form-field>
                                        <mat-form-field class="inputPotion">
                                            <input type="number" matInput placeholder="Strong Invigoration" name="strongInvigoration"
                                                    [(ngModel)]="simParameters.potions[playerIndex].nStrongInvigorationAvailable">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <br>
                                <div class="divSettingsRunestoneLevel">
                                    <p>Runestone level:</p>
                                    <mat-form-field class="inputPotion">
                                        <input type="number" matInput placeholder="Runestone level" name="runestoneLevel"
                                                    [(ngModel)]="simParameters.runestoneLevels[playerIndex]">
                                    </mat-form-field>
                                </div>
            
                                <br>
                                <button id="buttonRemoveWizard" mat-raised-button (click)="onClickRemoveWizard(playerIndex)">Remove</button>
                            </div>
                            <div *ngIf="simParameters.nameClasses.length<5" class="divSingleWizardSettings">
                                <button id="buttonAddWizard"  mat-raised-button (click)="onClickAddWizard($event)" matTooltip="Add another wizard" >Add wizard</button> 
                            </div>
            
                        </div>
                    </mat-tab>
                    <mat-tab label="Direct stats"> 
            
                    </mat-tab>
                </mat-tab-group>
        </mat-expansion-panel>

        <mat-expansion-panel #matPanelAdvancedSimulationSettings>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Advanced simulation settings
                </mat-panel-title>
                <mat-panel-description>
                    Enter seed, number of simulations, ...
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field class="inputAdvancedSetting">
                <mat-label>Seed: This will ensure reproducible results. For multiple simulations, the seed will increased by 1 for each simulation. </mat-label>
                <input matInput type="number" placeholder="Seed" [(ngModel)]="simParameters.seed" [(value)]="simParameters.seed">
            </mat-form-field>
            <br>
            <mat-form-field class="inputAdvancedSetting">
                <input matInput type="number" placeholder="Number of simulations" [(ngModel)]="numberSimulations">
            </mat-form-field>
        
        </mat-expansion-panel>

        <mat-expansion-panel #matPanelSimulationResults>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Simulation results
                </mat-panel-title>
                <mat-panel-description>
                    Results of your simulation appear here
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div #divContainerSingleSimulation *ngIf="simMode ==='single' && simulationSingleResults !== null">
                <div #divContainerSingleSimulationLog>
                    Real world time: {{simulationSingleResults.durationWallTimeMS}}ms <br>
                    Simulation time: {{simulationSingleResults.durationGameTimeMS}}ms
                    Number of events: {{simulationSingleResults.nEvents}} <br>
                    <div *ngFor="let wizardResult of simulationSingleResults.wizardResults">
                        Player {{wizardResult.playerIndex}}: 
                        {{wizardResult.numberOfCasts}} casts,
                        {{wizardResult.numberOfCriticalCasts}} critical casts,
                        {{wizardResult.numberOfDodgedCasts}} dodged casts, 
                        {{wizardResult.averageDamage.toFixed(2)}} average damage,
                        {{wizardResult.totalDamage}} total damage
                    </div>
                    <br>
                    <mat-form-field  class="inputAdvancedSetting">
                        <textarea matInput id="inputSimulationLog" type="text" disabled="true" placeholder="Simulation log" [(value)]="simulationLog"></textarea>
                    </mat-form-field> 
                </div>
            </div>
            <div #divContainerMultipleSimulations *ngIf="simMode === 'multiple'">

            </div>

        </mat-expansion-panel>

    </mat-accordion>
</div>






<router-outlet></router-outlet>